/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
excel/
Datos_csv/

# Laravel cache and storage
/bootstrap/cache/*
/storage/framework/*
/storage/logs/*
/storage/app/public

# Archivos autogenerados por IDE helper
_ide_helper.php
.phpstorm.meta.php

# Archivos temporales del sistema
.DS_Store
Thumbs.db
